.tab{
    font-weight: 700;
    cursor: pointer;
    padding: 20px 30px;
}
.tab:hover{
    color: cornflowerblue;
}

.tab__open{
    color: blue;
    font-weight: 700;
    cursor: pointer;
    padding: 20px 30px;
    text-decoration: underline;
    text-decoration-color: blue ;
}
    
