*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body,
html,
#root{
    height: 100%;
    overflow-x: hidden;
    
  
}
.wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightgrey;
}
footer{
   
    padding: 20px;
    border-top: 1px solid grey;
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
}