*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.posts__container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(234, 218, 198);

}
.left__side{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.main__posts .image__post{
    width: 400px;
}
button{
    cursor: pointer;
    background-color: #fff;
    border: 2px solid black;
    padding: 10px 20px;
}
button:hover{
    background-color: antiquewhite;
}

.middle__posts{
    display: grid;
    grid-template-columns: repeat(2,auto);
}
.middle__posts .post__box{
    flex-direction: column-reverse;
    gap: 0;
}
.middle__posts .title__post{
    padding: 0;
}
.middle__posts .image__post{
    width: 250px;
    height: 100px;
}
.little__posts{
    width: 40%;
}
.little__posts .image__post{
 width: 100px;
 height:100px ;
}
.little__posts .content__post-box{
padding-right: 20px;
}